.root {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;

	& span {
		margin-bottom: 16px;
	}
}

.buttons_group {
	display: flex;
	flex-direction: column;

	& button {
		margin-bottom: 16px;
	}
}
