.root {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	&_form {
		padding: 16px;
		width: 500px;
		border-radius: 16px;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

		& > h2 {
			margin-bottom: 16px;
		}

		& form {
			margin-bottom: 16px;
		}
	}
}

.link {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	color: var(--violet);
	font-size: var(--font-size-link);
	line-height: var(--line-height-link);
	transition: color 0.3s ease;

	&:hover {
		color: var(--black)
	}
}

.error {
	margin-bottom: 16px;
	text-align: center;
	color: var(--red);
	font-size: var(--font-size-error);
	line-height: var(--line-height-error);
}
