* {
	// colors
	--white: #fff;
	--gray-100: #f8f8f8;
	--gray-300: #808185;
	--violet: #512689;
	--black: #151317;

	// font sizes
	--font-size-default: 16px;
	--line-height-default: 22px;

	--font-size-input: 14px;
	--line-height-input: 16px;

	--font-size-h2: 20px;
	--line-height-h2: 23px;
}
